.point_item {
  background: #262e38;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.175px;
  color: #7c8798;
}

.point_item:hover {
  background: #fc7614;
  color: white;
}

.point_active {
  background: #7c8798 !important;
  color: white !important;
}

@media only screen and (min-width: 1024px) {
  .point_item {
    width: 51px;
    height: 51px;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
}
